<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartBin®️</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>

    <div class="pre-loader">
        <h3>Together We Reduce, Reuse, Recycle.</h3>
    </div>

    <div class="main">

        <div class="page1" id="page1">
            <video autoplay loop muted width="100%" height="100%">
                <source src="video/page1.mp4" type="video/mp4">
            </video>
            <div class="page1-content">
                <nav>
                    <h2>SmartBin</h2>
                    <div class="nav2">
                        <div class="dropdown">
                            <img id="userIcon" src="images/user.png">
                            <div id="loginDropdown" class="dropdown-content">
                                <a href="/userLogin">User Login</a>
                                <a href="/adminLogin">Admin Login</a>
                            </div>
                        </div>
                        <h3><a data-scroll-to="page1">Home</a></h3>
                        <h3><a data-scroll-to="page2">Services</a></h3>
                        <h3><a data-scroll-to="page3">About</a></h3>
                        <h3><a data-scroll-to="page4">Impact</a></h3>
                    </div>
                </nav>
                <h1>smartbin</h1>
            </div>
        </div>

        <div class="page2" id="page2">
            <div class="caption">
                <p>SmartBin</p>
                <p>do good</p>
            </div>
            <div class="services">
                <div class="container">
                    <h1>Services we provide.</h1>
                    <h3>Empowering You to Make a Difference</h3>
                    <div class="card__container">
                        <article class="card__article">
                            <a href="/garbageImage"><img src="../images/Garbage.png" class="card__img"></a>
                            <div class="card__data">
                                <h2>Instant Garbage Reporting</h2>
                                <a href="/garbageImage" class="card__button">Report it in seconds.</a>
                            </div>
                        </article>
                        <article class="card__article">
                            <a href="/recycleImage"><img src="../images/recycling.png" class="card__img"></a>
                            <div class="card__data">
                                <h2>Recycling Service</h2>
                                <a href="/recycleImage" class="card__button">Recycling made easy.</a>
                            </div>
                        </article>
                        <article class="card__article">
                            <a href="/map"><img src="../images/map.png" class="card__img"></a>
                            <div class="card__data">
                                <h2>Waste Wisdom</h2>
                                <a href="/map" class="card__button">Find Nearest Recycling Center</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="page3" id="page3">
            <h1>WITH EVERY TAP, YOU'RE TAKING A STEP FOR OUR PLANET'S FUTURE.</h1>
            <p>At <span>SmartBin</span>, we connect citizens with local authorities for effective waste management.</p>
            <a href="/payment"><button>SUPPORT</button></a>
        </div>

        <div class="page4" id="page4">
            <h1>OUR IMPACT</h1>
            <p>SmartBin uses technology for better waste management, reducing costs and emissions.</p>
            <div class="grid-container">
                <img class="img2" src="images/pic4.jpeg">
                <img class="img2" src="images/p2.avif">
                <img class="img2" src="images/p3.avif">
            </div>
        </div>

        <div class="page5" id="page5">
            <h2>Happy Client Works</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-container">
                            <i class="fas fa-quote-left"></i>
                            <p>"Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice."</p>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <div class="profile-container">
                            <img src="https://img.freepik.com/premium-photo/fun-unique-cartoon-profile-picture-that-represents-your-style-personality_1283595-14000.jpg" class="profile-picture">
                            <p class="profile-name">Parth Sahay</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-container">
                            <i class="fas fa-quote-left"></i>
                            <p>"Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice."</p>
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <div class="profile-container">
                            <img src="https://img.freepik.com/free-vector/cheerful-young-girl-vector-portrait_1308-163430.jpg" class="profile-picture">
                            <p class="profile-name">Koshali</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>
